.LoginWrap {
    position: relative;
    height: 100vh;
}

.LoginBox {
    width: 640px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    --webkittransform: translateY(-50%);
    padding: 60px 80px;
    box-shadow: 6px 6px 10px 4px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.LogoBox span{
    width: 240px;
}
.LogoBox span img{
    max-width: 100%;
}

